html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #F2F0F2;
    /* margin: 0 auto; */
    /* width: 1024px; */
}

.body-container {
    background-color: #F2F0F2;
}

/* header { */
/*     background-color: #FF9900; */
/*     position: fixed; */
/*     top: 0; */
/*     right: 0; */
/*     left: 0; */
/* } */

/* .header-container { */
/*     /\* height: 40px; *\/ */
/*     /\* margin: 0 auto; *\/ */
/*     /\* position: relative; *\/ */
/*     width: 1024px; */
/*     /\* overflow: hidden; *\/ */
/* } */

/* header h1 { */
/*     display: inline; */
/*     padding: 0 8px; */
/* } */

/* header form { */
/*     display: inline-block; */
/* } */

.jumbotron {
    width: 275px;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron h1 {
    font-size: 50px;
}

.profile-container {
    padding-top: 5px;
}

.tweet-container {
    padding-right: 0px;
}

.tweet {
    margin-bottom: -1px;
    padding: 10px;
    border: 1px solid #e1e8ed;
    background-color: #fff;
}

.tweet-list {
    padding-right: 0px;
}

textarea {
    width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

.navbar-default
.navbar-brand {
    color: #428bca;
}

.navbar-default
.navbar-nav>li>a {
    color:#428bca;
    padding-right: 0px;
}

.logged-user {
    padding: 20px;
    background-color: #679CCA;
    box-shadow: 3px 3px 5px #888888;
}
