extends layout

block content
  
  header
    .container
      h1=user

  div.content
    div.jumbotron.text-center
      h1
        span.fa.fa-lock
        | Twitter Clone
      p Login or Register with:
      a.btn.btn-primary(href='/auth/facebook')
        img(src='images/login-facebook.png')
